/* tamil 
@font-face {
  font-family: 'Coiny';
  font-style: normal;
  font-weight: 400;
  src: local('Coiny'), local('Coiny-Regular'), url(http://fonts.gstatic.com/s/coiny/v1/08A278TJf4gOnTdlnscRNA.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0B82-0BFA, U+200B-200D, U+20B9, U+25CC;
}
 vietnamese 
@font-face {
  font-family: 'Coiny';
  font-style: normal;
  font-weight: 400;
  src: local('Coiny'), local('Coiny-Regular'), url(http://fonts.gstatic.com/s/coiny/v1/w4GHNK-lOvYXSqQV7CeHlA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
 latin-ext */
@font-face {
  font-family: 'Coiny';
  font-style: normal;
  font-weight: 400;
  src: local('Coiny'), local('Coiny-Regular'), url(https://serwer1740467.home.pl/wp-content/themes/roban/assets/fonts/f1.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Coiny';
  font-style: normal;
  font-weight: 400;
  src: local('Coiny'), local('Coiny-Regular'), url(https://serwer1740467.home.pl/wp-content/themes/roban/assets/fonts/f2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
