/* Theme Name: roban */
html{
    margin: 0;
}
body{
    box-sizing: border-box;
    color:#fff;
    min-height: 100vh;
    padding-top:0px;
    background-color: #222222;
    width: 100vw;
    overflow-x: hidden;
    background: repeating-linear-gradient(45deg, #000 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
    position: relative
}
footer{
    display: block;
    position: relative;

}
#ncon{
    display: block;
    width: 100%;
    padding: 0 10px;
    background: rgba(15,15,15,0.73); 
    background: -moz-linear-gradient(left, rgba(15,15,15,0.73) 0%, rgba(0,0,0,0.84) 16%, rgba(0,0,0,0.84) 38%, rgba(0,0,0,0.54) 52%, rgba(0,0,0,0.84) 65%, rgba(0,0,0,1) 86%, rgba(0,0,0,0.62) 100%); 
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(15,15,15,0.73)), color-stop(16%, rgba(0,0,0,0.84)), color-stop(38%, rgba(0,0,0,0.84)), color-stop(52%, rgba(0,0,0,0.54)), color-stop(65%, rgba(0,0,0,0.84)), color-stop(86%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0.62))); 
    background: -webkit-linear-gradient(to right, #000c 0%, #000c 15%, #0f0f0fcc 35%, #00000080 50%, #0f0f0fcc 65%, #000 85%, #0009 100%);
    background: -o-linear-gradient(to right, #000c 0%, #000c 15%, #0f0f0fcc 35%, #00000080 50%, #0f0f0fcc 65%, #000 85%, #0009 100%);
    background: -ms-linear-gradient(to right, #000c 0%, #000c 15%, #0f0f0fcc 35%, #00000080 50%, #0f0f0fcc 65%, #000 85%, #0009 100%);
    background: linear-gradient(to right, #000c 0%, #000c 15%, #0f0f0fcc 35%, #00000080 50%, #0f0f0fcc 65%, #000 85%, #0009 100%);
    filter: initial;
    border-radius: 5px;
}

#socialBar{
    display: block;
    float: left;
    width: auto;
    padding: 5px 0;

}
#socialBar .info{
    display: none !important;

}
#socialInfo{
    position: absolute;
    top:0;
    padding: 5px 5px;
    display: none;
    background: black;
    min-width: 200px;
    text-align: center;
    padding-top: 64px;
    z-index: -1;

}
.menu-item-has-children > ul.dropdown-menu {
    padding: 0;
    top: 45px;
    background: none;
    min-width: 180px;
    left: -25%;
    right: -25%;
    margin: auto;
    padding: 5px;
    padding-top: 0;
    background: #4b4b4b;
    border: 5px solid black;
}
.menu-item-has-children > ul.dropdown-menu  > li.menu-item {
    width: 100%;
    margin:5px auto;
}
.menu-item-has-children > ul.dropdown-menu  > li.menu-item > a{
    width: 100%;

}
#socialBar .icon{
    display: block;
    float: left;
    padding: 0 2px;
    border: 0.5px solid transparent;
    border-radius: 25px;
    margin-right: 2px;
    width: 52px;
    height: 46px;
    position: relative;
    border: 1px solid transparent;

}
#socialBar .icon:hover{
    background-color: #3b3b3b;
    border: 1px solid #0089ff;
}
.card-deck .btn-center{
    min-width: 135px;
}
.card-text {
    font-size: 0.8rem;
}
#socialBar .icon > img{
    width: 46px;
    height: 42px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

}
.carousdel-item{
    margin: auto;
    display: block;

}
.carousel-item .container{
    position: absolute;
}
.carousel-item > img {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}
.p0{
    padding: 0 !important;
}
.p5{
    padding: 5px !important;
}
.p10{
    padding: 10px !important;
}
.p15{
    padding: 15px !important;
}
.m0{
    margin: 0 !important;
}
.m5{
    margin: 5px !important;
}
.m10{
    margin: 10px !important;
}
.m15{
    margin: 15px !important;
}

.c-w{
    color:#fff;
}
.c-b{
    color:#000;
}
.opa-c{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.3;
    z-index: -20;
    height: 100%;
    left: 0;
    top: 0;

}
.p-rel{
    position: relative !important;
}
.btn-center{
    display: block;
    width: auto;
    margin: auto;
}
.przedmioty-lista .card{
    background: none;
}
.przedmioty-lista .card .card-block{
    background: #fff;
}
.s{
    height: 15px;
    width: 100%;
    display: block;
}
.bg-opa{
    background-color: rgba(255,255,255,0.3);
}
#homeSlider .carousel-control-next:hover, #homeSlider .carousel-control-prev:hover{
    background-color: rgba(255,255,255,0.3);
}
#NavHolder{
    padding: 0;
} 
.w-80{
    width: 80% !important;
}

#MainMenu{
    float: right;
    width: auto;
    padding: 10px 5px;
    margin-right: 5px;
}
#homeSlider{
    width: 100vw !important;
}
#homeSlider,#homeSlider .carousel-inner, #homeSlider .carousel-item{
    max-height: 80vh;
    background: none;
}

#homeSlider .carousel-control-next, #homeSlider .carousel-control-prev{
    width: 40px;
}
#homeSlider .carousel-indicators{
    display: none;
}
body.admin-bar #NavHolder{
    top:32px;
}
#NavHolder a.navbar-brand{
    top: -35px;
}
.navbar-brand{
    left: 0;
    right: 0;
    float: none;
    display: block;
    margin: auto;

}
.logo, #NavHolder a.navbar-brand {
    position: absolute;
    width: 125px;
    height: 125px;
}
#NavHolder .btn-inverse{
    margin: 0px 2px;
    box-shadow: 0 0 15px 3px #222 inset;
}

#NavHolder .active .btn-inverse, .btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color: #262626;
    color: #fff;
    border-color: #0089ff;

}


.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover {
    text-shadow: 0 -1px 0 #0000004d;
    color: #fff;
}

.btn-inverse {
    background-color: #393939;

}
#homeContainer{
    color:black;
}

#cont{
    margin-top: 35px;
}


/*-----------------------------------------------------Album--------------------------*/
.album {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px 0;
    margin-bottom: 15px;
    padding-top: 0;
}
.album .opa-c{
    border-radius: 25px;
}
.album > .album-head, .album-foot span{
    font-family: 'Coiny', sans-serif;
    text-align: center;
    font-size: 24px;
    height: 26px;
}


.album  .album-content{
    display: block;   
    padding: 0;
    position: relative;
    border-top: 2px solid white;
    margin-top: 5px;
    border-bottom: 2px solid white;
    margin-bottom: 5px;

}

.album  .album-content  .album-item{
    padding: 0px 5px;
    position: relative;
    display: block;
    width: 25%;
    height: 160px;
    float: left;

}
.album  .album-content  .album-item > a{
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}
.album  .album-content  .album-item > a > img{
    position: absolute;
    display: block;
    min-width: 75%;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: auto;
    top: 0;
    bottom: 0;
    max-height: 100%;
    border-radius: 25px;
    left: 0;
    right: 0;
    padding: 5px 0;

}
.hidden, .album  .album-content .hidden .album-item > a > img{
    display:none;
}

/*hide-content*/
.album > .album-foot{
    height: 38px;
}
.album > .album-foot > a{
    font-family: 'Coiny', sans-serif;
}
/*-----------------------------------------------------Album/------------------------*/ 

/*-----------------------------------------------------Kontakt------------------------*/ 
#kontakt.container{
    padding-top:35px;
    padding-bottom:35px;
    background-color: rgba(0, 0, 0, 0.3);
}

#kontakt .nazwa{
    text-align: center;

}
#koninfo{
    text-align: center;
}
#kontakt .heading{
    text-align: center;

}
#kontakt .kon{
    font-size: 18px;
    padding: 5px 0;
}
#kontakt .kon span{
    font-weight: bold;
}
#kontakt .kon-con .kon i{
    display: block;
}

#kontakt .kon-con .kon > p{
    margin-bottom: 0;
}
#kontakt .kon-con .kon i p{
    display: inline;
    margin-right: 5px;
    margin-bottom: 0;
}
/*-----------------------------------------------------Kontakt/------------------------*/ 

/*-----------------------------------------------------Aktualnosci------------------------*/ 
#newsKon{
    margin-bottom: 35px;
}
.news{
    height: 300px;
    background-color:rgba(0,0,0,0.25);

}
.news .col-md-8{
    max-height: 100%
}
.news .col-md-8 h2{
    margin-bottom: 0;
    padding-bottom: 0 !important;
}
.news.p-rel{
    background-color:rgba(98, 98, 98, 0.25);
}
.featurette-heading.p10{
    text-align: center;
}
.news .lead{
    font-size: 14px;
    font-weight: 400;
}
.aktualnosci-img{
    position: absolute;
    top: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    max-height: 300px;
    left: 0;
    right: 0;


}
.news-btn{
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    color:rgb(0, 138, 255) !important;
    background-color: rgba(57, 57, 57,0.4);
}
.news-btn:hover{
    background-color: rgb(38, 38, 38);
}
/*-----------------------------------------------------Aktualnosci/------------------------*/ 
#filter{

    float: left;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);

}
#filter .fin{
    float:left;
    padding: 5px;
}
#filter .fin label{
    display: block;
    text-align: center;
    margin-bottom: 0;
}
#filter .fin select, #filter .fin input{
    width: 100%;
    text-align: center;
    height: 24px;
}
#sprzet_container{
    margin-top: 35px;
    padding-bottom: 80px;
}
.list-item{
    display: block;
    float: left;
    padding: 15px 0;
    position: relative;
    background: rgba(0,0,0,0.3);
    margin: 15px 0;
    border-radius: 15px;
}
.list-item .li-desc{
    float: left;
    padding: 0;
    position: absolute;
    top:15px;
    bottom: 15px;
    right: 0;

}
.list-item .li-thumb-img{
    width: 100%;
    max-height: 100%;
    border-radius: 25px;
}

.list-item .li-thumb{
    float: left;
}
.list-item .li-desc .head{
    height: 10%;
    font-weight: 700;
    font-size: 1em;
    text-align: center;
}

.list-item .li-desc .desc{
    height: 80%;
    overflow: hidden;
}
.list-item .li-desc .cena{
    height: 10%;
    text-align: center;
    font-size: 1em;
}
.list-item .li-lbox{
    display: block;
    position: relative;
}
.list-item .li-lbox .li-helper{
    display: none;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255,0.3);
    border-radius: 25px;
    font-size: 18px;
    color: black;
    text-align: center;
    font-weight: 800;

}
.list-item .li-lbox:hover .li-helper{
    display: block;
}